@import "../themes/tabi/sass/main.scss";

// main.scss

:root {
    --sans-serif-font: 'Inter', Helvetica, Arial, sans-serif;
    --serif-font: 'Source Serif', 'Georgia', serif;
    --code-font: 'Cascadia Code';

    --background-color: white;
    --bg-0: #f0f0f0;
    --bg-1: #e7e7e7;
    --bg-2: #fefefe;
    --hover-color: white;
    --primary-color: #1c71d8;
    --primary-color-dark: #1a5fb4;
    --divider-color: #d7d7d7;
    --text-color: #222226;
    --text-color-high-contrast: #313333;
    --quote-color: #355f62;
    --border-color: #727272;
    --meta-color: #5b5b65;
}

[data-theme='dark'] {
    --background-color: #1f1f1f;
    --bg-0: #2f2f2f;
    --bg-1: #4c4d4d;
    --bg-2: #171717;
    --hover-color: black;
    --primary-color: #99c1f1;
    --primary-color-dark: #62a0ea;
    --divider-color: #4a4a4a;
    --text-color: #D4D4D4;
    --text-color-high-contrast: #eceeef;
    --quote-color: #a9c5c7;
    --border-color: black;
    --meta-color: #B0B0B0;
}


// parts/_cards.scss

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.card {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    text-align: center;

    border-radius: 9px;
    box-shadow: none;
    padding: 24px;
}

.card:hover {
    background-color: var(--hover-color);
}

.card-image {
    max-width: 10em;
}

.card-info {
    padding: 0;
}
