@import "../themes/tabi/sass/main.scss";

// main.scss

:root {
    --primary-color: #1c71d8;
    --primary-color-dark: #1a5fb4;
}

[data-theme='dark'] {
    --primary-color: #99c1f1;
    --primary-color-dark: #62a0ea;
}

// parts/_cards.scss

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    min-width: 128px;
    padding: 24px;
    box-shadow: 0 0 0 1px transparentize(black, 0.97),
        0 1px 3px 1px transparentize(black, .93),
        0 2px 6px 2px transparentize(black, .97);
    border-radius: 12px;
    text-align: center;
}

.card-image {
    max-width: 160px;
}

.card-info {
    padding: 0;
}
