@import "../themes/tabi/sass/main.scss";

// main.scss

:root {
    --primary-color: #1c71d8;
    --primary-color-dark: #1a5fb4;
}

[data-theme='dark'] {
    --primary-color: #99c1f1;
    --primary-color-dark: #62a0ea;
}

// parts/_cards.scss

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    flex-grow: 1;
    flex-shrink: 1;
    padding-top: 24px;
}

.card-image {
    max-width: 160px;
}

// other

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    gap: 18px;
    margin-top: 4vmin;
    padding: 12px 0;
}

.gallery img {
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: transform 200ms ease;
}

.gallery img:hover {
    transform: scale(1.05);
}
