{% extends "base.html" %}

{% block main_content %}
    {{ macros_page_header::page_header(title=section.title) }}

    <main>
        <div class="gallery">
            {%- for asset in section.assets %}
                {% if asset is matching("[.](jpg|png)$") %}
                    {% set image = resize_image(path=asset, width=1280, height=720) %}
                    <img alt="{{ image.url }}" src="{{ image.url }}">
                {% endif %}
            {% endfor -%}
        </div>
    </main>

{% endblock main_content %}
